extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li 
      a(href='/categories') GET /categories
    li 
      a(href='/championships') GET /championships
    li 
      a(href='/customers') GET /customers
    li
      a(href='/hotel/rooms') GET /hotel/rooms
    li 
      a(href='/products/cars') GET /products/cars
    li 
      a(href='/products') GET /products
    li
      a(href='/restaurant/dishes') GET /restaurant/dishes
    li 
      a(href='/users') GET /users
