extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href='/hotel/rooms') GET /hotel/rooms
    li
      a(href='/restaurant/dishes') GET /restaurant/dishes
    li 
      a(href='/products/cars') GET /products/cars
    li 
      a(href='/products') GET /products
    li 
      a(href='/categories') GET /categories
    li 
      a(href='/data') GET /data
    li 
      a(href='/data/1') GET /data/:id
    li 
      a(href='/data') POST /data
    li 
      a(href='/data') PUT /data
    li 
      a(href='/data') DELETE /data
